<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Services</title>
</head>

    <h1>Policy Page</h1>
        <form method="POST" action="/policy">
        {% csrf_token %}
        <input type="text" name="user_id" placeholder="External User ID">
        <input type="text" name="benefit" placeholder="Benefit">
        <input type="text" name="currency" placeholder="Currency">
        <input type="number" name="total_max" placeholder="Total Max Amount">
        <button type="submit">Submit</button>
        </form>

